---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
// const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Mi blog de aprendizaje de Astro";
const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle}>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje de Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
